
// HEADER Y NAVBAR 
.headercontenedor {
    .navbar-brand {
        font-size: 40px;
        color: #333;
        font-weight: bold;
    }

    .navbar-nav {
        .nav-link {
            color: #333;
            font-size: 20px;
            border-radius: 5px;
            padding: 10px 15px;
            margin: 0 5px;

            &:hover {
                background-color: #555;
                color: white;
                text-decoration: none;
            }
        }
    }
}
