.headercontenedor {
    display: flex;
    justify-content: space-between;
}
.fondoimagen {
    background-image: url('img/imagenfondo.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero .container {
    color: white;
    padding: 100px 
}
.hero .nav-item {
    margin: 5px 10px;
}
.hero nav-link:hover {
    color: #f0f0f0;
}